div(style="margin-top: 80px").form
	div(ng-include="'public/templates/details-header-template.html'")

	div(ng-show="loading") Loading...
	div(ng-show="isDisabled")
		h3 Esta formula está desactivado.
		button(ng-click='back()').btn.btn-default.pull-right Volver a la Lista
	div(ng-hide="loading || isDisabled", style="")
		div(style="border: 1px solid #ddd; padding: 20px; box-sizing: border-box")
			div
				form(name="form", role="form", ng-submit="saveOrUpdate()")
					.form-group
						label(for="id") Id:
						label#id(ng-bind="record.id")

					div(ng-if="!isNew")
						.form-group
							label(for="preformula") Formula Base:
							label(ng-bind="record.PreFormula.descripcion")#preformula

					div(ng-if="isNew")
						.form-group
							label(for="pre-formula") Formula Base:
							select(
								required
								ng-model="record.idPreFormula"
								ng-options="preFormula.id as preFormula.descripcion for preFormula in preFormulas"
							)#componente.form-control

					.form-group
						label(for="kg") Kilogramos:
						input(required
									type="text"
									ng-model="record.kg"
									ng-pattern="patterns.numbers"
									placeholder='Introduzca KG de la formula')#kg.form-control
					.form-group
						label(for="gal") Galones:
						input(required
									type="text"
									ng-model="record.gal"
									ng-pattern="patterns.numbers"
									placeholder='Introduzca GAL de la formula')#gal.form-control
					.form-group
						label(for="densidad") Densidad:
						input(required
									type="text"
									ng-model="record.densidad"
									ng-pattern="patterns.numbers"
									placeholder='Introduzca Densidad de la formula')#densidad.form-control
					.button-group
						button(ng-click='back()').btn.btn-default Atrás
						button(ng-disabled="form.$invalid").btn.btn-default {{ isNew ? "Guardar" : "Actualizar" }}