div(style="margin-top: 80px").form
	div(ng-include="'public/templates/details-header-template.html'")

	div(ng-show="loading") Loading...
	div(ng-show="isDisabled")
		h3 Este componente está desactivado.
		button(ng-click='back()').btn.btn-default.pull-right Volver a la Lista
	div(ng-hide="loading || isDisabled", style="")
		ul(class="nav nav-tabs nav-justified", ng-show="!isNew")
			li(role="presentation", ng-class="{ 'active': displayDetail }")
				a(href="javascript:void(0)", ng-click="viewDetailTab()") Detalle
			li(role="presentation", ng-class="{ 'active': displayProductos }")
				a(href="javascript:void(0)", ng-click="viewProductosTab()") Productos

		div#detail-box
			div
				producto-list(
					display-header="false"
					display-suplidor="true"
					display-componente="false"
					from-componente="true"
					ng-if="renderProductos"
					ng-show="displayProductos").push-up

				form(name="form" role="form" ng-submit="saveOrUpdate()" ng-show="displayDetail")
					.form-group
						label(for="id") Id:
						label#id(ng-bind="record.id")
					.form-group.pull-right(ng-if="!isNew")
						label(for="status") Activo
						input(type="checkbox", ng-model="record.status")#status
					.form-group
						label(for="nombre") Descripcion:
						textarea(required, ng-model="record.descripcion", placeholder='Introduzca Descripción del componente')#nombre.form-control
					.button-group
						button(ng-click='back()').btn.btn-default Atrás
						button(ng-disabled="form.$invalid").btn.btn-default {{ isNew ? "Guardar" : "Actualizar" }}