div(ng-init="getMuestra()", style="margin-top: 80px").form
	div(ng-include="'public/templates/details-header-template.html'")

	div(ng-show="loading") Loading...
	div(ng-show="isDisabled")
		h3 Este muestra está desactivado.
		button(ng-click='back()').btn.btn-default.pull-right Volver a la Lista
	div(ng-hide="loading || isDisabled", style="")
		div(style="border: 1px solid #ddd; padding: 20px; box-sizing: border-box")
			div
				form(name="form", role="form", ng-submit="saveOrUpdate()")
					.form-group
						label(for="id") Id:
						label#id(ng-bind="record.id")

					div(ng-if="!isNew")
						.form-group
							label(for="tipoMuestra") Tipo de Muestra:
							label(ng-bind="record.TipoMuestra.descripcion")#tipoMuestra
						.form-group
							label(for="producto") Producto:
							label(ng-bind="record.Producto.nombreComercial")#producto

					div(ng-if="isNew")
						.form-group
							label(for="tipoMuestra") Tipo de Muestra:
							select(
								required
								ng-model="record.idTipoMuestra"
								ng-options="tipoMuestra.id as tipoMuestra.descripcion for tipoMuestra in tipoMuestras"
							)#componente.form-control
						.form-group
							label(for="producto") Producto:
							select(
								required
								ng-model="record.idProducto"
								ng-options="producto.id as producto.nombreComercial for producto in productos"
							)#componente.form-control

					.button-group
						button(ng-click='back()').btn.btn-default Atrás
						button(ng-show="isNew" ng-disabled="form.$invalid").btn.btn-default {{ isNew ? "Guardar" : "Actualizar" }}