div.row
	div(ng-if="displayHeaders")
		div(
			class="alert"
			ng-class="{ 'alert-success' : success == true, 'alert-error' : success == false }"
			ng-show="success != null"
			ng-bind="message")
		h2 Lista de Componentes
			input(ng-click="viewComponenteDetails()" type="button" value="Agregar Componente").btn.btn-default.pull-right
		br
	table(class="table", ng-if="list && list.length")
			thead
				tr
					th Id
					th Descripcion
					th Estatus
					th
					th
			tbody.table-body
				tr(ng-repeat='componente in list')
					td
						a(href="javascript:void(0)"
							ng-bind="componente.id"
							ng-click='viewComponenteDetails(componente.id)')
					td
						a(href="javascript:void(0)"
							ng-bind="componente.descripcion | shorten:25"
							ng-click='viewComponenteDetails(componente.id)')
					td
						a(href="javascript:void(0)"
							ng-bind="componente.status ? 'Activo' : 'Inactivo'"
							ng-click='viewComponenteDetails(componente.id)')
					td
						a(ng-click="viewComponenteDetails(componente.id)"
							href="javascript:void(0)").glyphicon.glyphicon-pencil.edit-button
					td
						a(ng-click="delete(componente)"
							href="javascript:void(0)").glyphicon.glyphicon-remove-circle.delete-button
			tfoot
				tr
					td
					td(colspan='{{headers.length}}')
					td
		div(ng-if="!list || !list.length")
			strong No se encontraron Registros