div.row
	div(ng-if="displayHeaders")
		div(
			class="alert"
			ng-class="{ 'alert-success' : success == true, 'alert-error' : success == false }"
			ng-show="success != null"
			ng-bind="message")
		h2 Lista de Contactos
			input(ng-click="addNew()" type="button" value="Agregar Contacto").btn.btn-default.pull-right
		br
	table(class="table", ng-if="list && list.length")
			thead
				tr
					th Id
					th Correo
					th Nombre
					th(ng-if='displaySuplidor') Suplidor
					th Puesto
					th Telefono
					th Estatus
					th
					th
			tbody.table-body
				tr(ng-repeat='contacto in list')
					td
						a(href="javascript:void(0)"
							ng-bind="contacto.id"
							ng-click='viewContactoDetails(contacto.id)')
					td
						a(href="javascript:void(0)"
							ng-bind="contacto.correo | shorten:15"
							ng-click='viewContactoDetails(contacto.id)'
							title="{{contacto.correo}}")
					td
						a(href="javascript:void(0)"
							ng-bind="contacto.nombre | shorten:15"
							ng-click='viewContactoDetails(contacto.id)'
							title="{{contacto.nombre}}")
					td(ng-if='displaySuplidor')
						a(href="javascript:void(0)"
							ng-bind="contacto.Suplidor.nombre | shorten:15"
							ng-click='viewSuplidorDetails(contacto.id)'
							title="{{contacto.Suplidor.nombre}}").special
					td
						a(href="javascript:void(0)"
							ng-bind="contacto.puesto | shorten:25"
							ng-click='viewContactoDetails(contacto.id)'
							title="{{contacto.puesto}}")
					td
						a(href="javascript:void(0)"
							ng-bind="contacto.telefono"
							ng-click='viewContactoDetails(contacto.id)')
					td
						a(href="javascript:void(0)"
							ng-bind="contacto.status ? 'Activo' : 'Inactivo'"
							ng-click='viewContactoDetails(contacto.id)')
					td
						a(ng-click="viewContactoDetails(contacto.id)"
							href="javascript:void(0)").glyphicon.glyphicon-pencil.edit-button
					td
						a(ng-click="delete(contacto)"
							href="javascript:void(0)").glyphicon.glyphicon-remove-circle.delete-button
			tfoot
				tr
					td
					td(colspan='6')
					td
		div(ng-if="!list || !list.length")
			strong No se encontraron Registros