div(
	class="alert",
	ng-class="{ 'alert-success' : success == true, 'alert-error' : success == false }",
	ng-show="success != null") {{message}}. &nbsp;
	a(href="javascript:void(0)" ng-click='back()') Volver atrás
	a(href="javascript:void(0)" ng-click="success = null").glyphicon.glyphicon-remove.black-button.pull-right