div.row
	div(ng-if="displayHeaders")
		div(
			class="alert"
			ng-class="{ 'alert-success' : success == true, 'alert-error' : success == false }"
			ng-show="success != null"
			ng-bind="message")
		h2 Lista de Formulas
			input(ng-click="viewFormulaDetails()" type="button" value="Agregar Formula").btn.btn-default.pull-right
		br
	table(class="table", ng-if="list && list.length")
			thead
				tr
					th Id
					th Kilogramos
					th Galones
					th Densidad
					th Formula Base
					th
					th
			tbody.table-body
				tr(ng-repeat='formula in list')
					td
						a(href="javascript:void(0)"
							ng-bind="formula.id"
							ng-click='viewFormulaDetails(formula.id)')
					td
						a(href="javascript:void(0)"
							ng-bind="formula.kg"
							ng-click='viewFormulaDetails(formula.id)')
					td
						a(href="javascript:void(0)"
							ng-bind="formula.gal"
							ng-click='viewFormulaDetails(formula.id)')
					td
						a(href="javascript:void(0)"
							ng-bind="formula.densidad"
							ng-click='viewFormulaDetails(formula.id)')
					td
						a(href="javascript:void(0)"
							ng-bind="formula.PreFormula.descripcion | shorten:25"
							ng-click='viewPreFormulaDetails(formula.PreFormula.id)'
							title="{{formula.PreFormula.descripcion}}").special
					td
						a(ng-click="viewFormulaDetails(formula.id)"
							href="javascript:void(0)").glyphicon.glyphicon-pencil.edit-button
					td
						a(ng-click="delete(formula)"
							href="javascript:void(0)").glyphicon.glyphicon-remove-circle.delete-button
			tfoot
				tr
					td
					td(colspan='7')
					td
		div(ng-if="!list || !list.length")
			strong No se encontraron Registros