div.row
	div(ng-if="displayHeaders")
		div(
			class="alert"
			ng-class="{ 'alert-success' : success == true, 'alert-error' : success == false }"
			ng-show="success != null"
			ng-bind="message")
		h2 Lista de Muestras
			input(ng-click="viewMuestraDetails()" type="button" value="Agregar Muestra").btn.btn-default.pull-right
		br
	table(class="table", ng-if="list && list.length")
			thead
				tr
					th Id
					th Tipo de Muestra
					th(ng-if="displayProducto") Producto
					th
					th
			tbody.table-body
				tr(ng-repeat='muestra in list')
					td
						a(href="javascript:void(0)"
							ng-bind="muestra.id"
							ng-click='viewMuestraDetails(muestra.id)')
					td
						a(href="javascript:void(0)"
							ng-bind="muestra.TipoMuestra.descripcion | shorten:35"
							ng-click='viewTipoMuestraDetails(muestra.TipoMuestra.id)'
							title="{{muestra.nombre}}").special
					td(ng-if="displayProducto")
						a(href="javascript:void(0)"
							ng-bind="muestra.Producto.nombreComercial | shorten:25"
							ng-click='viewProductoDetails(muestra.Producto.id)'
							title="{{muestra.direccion}}").special
					td
						a(ng-click="viewMuestraDetails(muestra.id)"
							href="javascript:void(0)").glyphicon.glyphicon-pencil.edit-button
					td
						a(ng-click="delete(muestra)"
							href="javascript:void(0)").glyphicon.glyphicon-remove-circle.delete-button
			tfoot
				tr
					td
					td(colspan='3')
					td
		div(ng-if="!list || !list.length")
			strong No se encontraron Registros