div.row
	div(ng-if="displayHeaders")
		div(
			class="alert"
			ng-class="{ 'alert-success' : success == true, 'alert-error' : success == false }"
			ng-show="success != null"
			ng-bind="message")
		h2 Lista de Productos
			input(ng-click="viewProductoDetails()" type="button" value="Agregar Producto").btn.btn-default.pull-right
		br
	table(class="table", ng-if="list && list.length")
			thead
				tr
					th Id
					th(ng-if='displaySuplidor') Suplidor
					th(ng-if='displayComponente') Componente
					th Nombre Comercial
					th Densidad
					th Estatus
					th
					th
			tbody.table-body
				tr(ng-repeat='producto in list')
					td
						a(href="javascript:void(0)"
							ng-bind="producto.id"
							ng-click='viewProductoDetails(producto.id)')
					td(ng-if='displaySuplidor')
						a(href="javascript:void(0)"
							ng-bind="producto.Suplidor.nombre | shorten:15"
							ng-click='viewSuplidorDetails(producto.Suplidor.id)'
							title="{{producto.Suplidor.nombre}}").special
					td(ng-if='displayComponente')
						a(href="javascript:void(0)"
							ng-bind="producto.Componente.descripcion | shorten:25"
							ng-click='viewComponenteDetails(producto.Componente.id)'
							title="{{producto.Componente.descripcion}}").special
					td
						a(href="javascript:void(0)"
							ng-bind="producto.nombreComercial | shorten:25"
							ng-click='viewProductoDetails(producto.id)'
							title="{{producto.direccion}}")
					td
						a(href="javascript:void(0)"
							ng-bind="producto.densidad"
							ng-click='viewProductoDetails(producto.id)')
					td
						a(href="javascript:void(0)"
							ng-bind="producto.status ? 'Activo' : 'Inactivo'"
							ng-click='viewProductoDetails(producto.id)')
					td
						a(ng-click="viewProductoDetails(producto.id)"
							href="javascript:void(0)").glyphicon.glyphicon-pencil.edit-button
					td
						a(ng-click="delete(producto)"
							href="javascript:void(0)").glyphicon.glyphicon-remove-circle.delete-button
			tfoot
				tr
					td
					td(colspan='6')
					td
		div(ng-if="!list || !list.length")
			strong No se encontraron Registros