div.row
	div(ng-if="displayHeaders")
		div(
			class="alert"
			ng-class="{ 'alert-success' : success == true, 'alert-error' : success == false }"
			ng-show="success != null"
			ng-bind="message")
		h2 Lista de Suplidores
			input(ng-click="viewSuplidorDetails()" type="button" value="Agregar Suplidor").btn.btn-default.pull-right
		br
	table(class="table", ng-if="list && list.length")
			thead
				tr
					th Id
					th Rnc O Cedula
					th Nombre
					th Direccion
					th Telefono
					th Fax
					th Correo
					th Estatus
					th
					th
			tbody.table-body
				tr(ng-repeat='suplidor in list')
					td
						a(href="javascript:void(0)"
							ng-bind="suplidor.id"
							ng-click='viewSuplidorDetails(suplidor.id)')
					td
						a(href="javascript:void(0)"
							ng-bind="suplidor.rncCedula"
							ng-click='viewSuplidorDetails(suplidor.id)')
					td
						a(href="javascript:void(0)"
							ng-bind="suplidor.nombre | shorten:15"
							ng-click='viewSuplidorDetails(suplidor.id)'
							title="{{suplidor.nombre}}")
					td
						a(href="javascript:void(0)"
							ng-bind="suplidor.direccion | shorten:25"
							ng-click='viewSuplidorDetails(suplidor.id)'
							title="{{suplidor.direccion}}")
					td
						a(href="javascript:void(0)"
							ng-bind="suplidor.telefono"
							ng-click='viewSuplidorDetails(suplidor.id)')
					td
						a(href="javascript:void(0)"
							ng-bind="suplidor.fax"
							ng-click='viewSuplidorDetails(suplidor.id)')
					td
						a(href="javascript:void(0)"
							ng-bind="suplidor.correo | shorten:15"
							ng-click='viewSuplidorDetails(suplidor.id)'
							title="{{suplidor.correo}}")
					td
						a(href="javascript:void(0)"
							ng-bind="suplidor.status ? 'Activo' : 'Inactivo'"
							ng-click='viewSuplidorDetails(suplidor.id)')
					td
						a(ng-click="viewSuplidorDetails(suplidor.id)"
							href="javascript:void(0)").glyphicon.glyphicon-pencil.edit-button
					td
						a(ng-click="delete(suplidor)"
							href="javascript:void(0)").glyphicon.glyphicon-remove-circle.delete-button
			tfoot
				tr
					td
					td(colspan='{{headers.length}}')
					td
		div(ng-if="!list || !list.length")
			strong No se encontraron Registros