div(style="margin-top: 80px").form
	div(ng-include="'public/templates/details-header-template.html'")

	div(ng-show="loading") Loading...
	div(ng-show="isDisabled")
		h3 Este contacto está desactivado.
		button(ng-click='back()').btn.btn-default.pull-right Volver a la Lista
	div(ng-hide="loading || isDisabled", style="")
		div(style="border: 1px solid #ddd; padding: 20px; box-sizing: border-box")
			div
				form(name="form", role="form", ng-submit="saveOrUpdate()")
					.form-group
						label(for="id") Id:
						label#id(ng-bind="record.id")

					div(ng-if='!isNew')
						.form-group.pull-right
							label(for="status") Activo
							input(type="checkbox" ng-model="record.status")#status
						.form-group
							label(for="suplidor") Suplidor:
							label(ng-bind="record.Suplidor.nombre")#suplidor

					.form-group(ng-if="isNew")
							label(for="suplidor") Suplidor:
							select(
								required
								ng-model="record.idSuplidor"
								ng-options="suplidor.id as suplidor.nombre for suplidor in suplidores"
							)#suplidor.form-control

					.form-group
						label(for="nombre") Nombre:
						input(required, type="text", ng-model="record.nombre", placeholder='Introduzca Nombre del Contacto')#nombre.form-control
					.form-group
						label(for="direccion") Puesto:
						input(required, type="text", ng-model="record.puesto", placeholder='Introduzca Puesto del Contacto')#puesto.form-control
					.form-group
						label(for="telefono") Telefono:
						input(required, type="text", ng-model="record.telefono", placeholder='Introduzca Telefono del Contacto', ng-pattern='patterns.phone')#telefono.form-control
					.form-group
						label(for="correo") Correo:
						input(required, type="text", ng-model="record.correo", placeholder='Introduzca Correo del Contacto', ng-pattern='patterns.email')#correo.form-control
					.button-group
						button(ng-click='back()').btn.btn-default Atrás
						button(ng-disabled="form.$invalid").btn.btn-default {{ isNew ? "Guardar" : "Actualizar" }}