div(style="margin-top: 80px").form
	div(ng-include="'public/templates/details-header-template.html'")

	div(ng-show="loading") Loading...
	div(ng-show="isDisabled")
		h3 Este suplidor está desactivado.
		button(ng-click='back()').btn.btn-default.pull-right Volver a la Lista

	div(ng-hide="loading || isDisabled", style="")
		ul(class="nav nav-tabs nav-justified", ng-show="!isNew")
			li(role="presentation", ng-class="{ 'active': displayDetail }")
				a(href="javascript:void(0)", ng-click="viewDetailTab()") Detalle
			li(role="presentation", ng-class="{ 'active': displayContactos }")
				a(href="javascript:void(0)", ng-click="viewContactosTab()") Contactos
			li(role="presentation", ng-class="{ 'active': displayProductos }")
				a(href="javascript:void(0)", ng-click="viewProductosTab()") Productos

		div#detail-box
			div
				contacto-list(
					display-headers="false"
					display-suplidor="false"
					from-suplidor="true"
					ng-if="renderContactos"
					ng-show="displayContactos").push-up

				producto-list(
					display-headers="false"
					display-suplidor="false"
					from-suplidor="true"
					ng-if="renderProductos"
					ng-show="displayProductos").push-up

				form(name="form", role="form", ng-submit="saveOrUpdate()", ng-show="displayDetail")
					.form-group
						label(for="id") Id:
						label#id(ng-bind="record.id")
					.form-group.pull-right(ng-if="!isNew")
						label(for="status") Activo
						input(type="checkbox", ng-model="record.status")#status
					.form-group
						label(for="rnc") RNC o Cedula:
						input(required, type="text", ng-model="record.rncCedula", placeholder='Introduzca RNC o Cedula del record')#rnc.form-control
					.form-group
						label(for="nombre") Nombre:
						input(required, type="text", ng-model="record.nombre", placeholder='Introduzca Nombre del record')#nombre.form-control
					.form-group
						label(for="direccion") Direccion:
						textarea(required, ng-model="record.direccion", placeholder='Introduzca Direccion del record')#direccion.form-control
					.form-group
						label(for="telefono") Telefono:
						input(required, type="text", ng-model="record.telefono", placeholder='Introduzca Telefono del record', ng-pattern='patterns.phone')#telefono.form-control
					.form-group
						label(for="fax") Fax:
						input(required, type="text", ng-model="record.fax", placeholder='Introduzca Fax del record', ng-pattern='patterns.phone')#fax.form-control
					.form-group
						label(for="correo") Correo:
						input(required, type="text", ng-model="record.correo", placeholder='Introduzca Correo del record', ng-pattern='patterns.email')#correo.form-control
					.button-group
						button(ng-click='back()').btn.btn-default Atrás
						button(ng-disabled="form.$invalid").btn.btn-default {{ isNew ? "Guardar" : "Actualizar" }}