.black-button {
	color: black;
	text-decoration: none;
}

.black-button:hover {
	color: #111111;
	text-decoration: none;
}

.delete-button {
	color: #781E1E;
	text-decoration: none;
}

.delete-button:hover {
	color: #AB2222;
	text-decoration: none;
}

.edit-button {
	color: #37781E;
	text-decoration: none;
}

.edit-button:hover {
	color: #49AB22;
	text-decoration: none;
}

.table tr td, .table tr th {
	text-align: center;
}

.table td a:not(.edit-button):not(.delete-button) {
	display: block;
}

a.special:hover {
	color: #2a6000 !important;
}

.ng-dirty.form-control.ng-invalid {
	border: 1px solid red;
}

.ng-dirty.form-control.ng-valid {
	border: 1px solid green;
}

#detail-box {
	border: 1px solid #ddd;
	padding: 20px;
	box-sizing: border-box;
}