div(style="margin-top: 80px").form
	div(ng-include="'public/templates/details-header-template.html'")

	div(ng-show="loading") Loading...
	div(ng-show="isDisabled")
		h3 Este producto está desactivado.
		button(ng-click='back()').btn.btn-default.pull-right Volver a la Lista
	div(ng-hide="loading || isDisabled", style="")
		ul(class="nav nav-tabs nav-justified", ng-show="!isNew")
			li(role="presentation", ng-class="{ 'active': displayDetail }")
				a(href="javascript:void(0)", ng-click="viewDetailTab()") Detalle
			li(role="presentation", ng-class="{ 'active': displayMuestras }")
				a(href="javascript:void(0)", ng-click="viewMuestrasTab()") Muestras
		
		div#detail-box
			div
				muestra-list(
					display-headers="false"
					display-producto="false"
					from-producto="true"
					ng-if="renderMuestras"
					ng-show="displayMuestras").push-up

				form(name="form" role="form" ng-submit="saveOrUpdate()" ng-show="displayDetail")
					.form-group
						label(for="id") Id:
						label#id(ng-bind="record.id")

					div(ng-if="!isNew")
						.form-group.pull-right
							label(for="status") Activo
							input(type="checkbox" ng-model="record.status")#status
						.form-group
							label(for="suplidor") Suplidor:
							label(ng-bind="record.Suplidor.nombre")#suplidor
						.form-group
							label(for="componente") Componente:
							label(ng-bind="record.Componente.descripcion")#componente
						
					div(ng-if="isNew")
						.form-group
							label(for="suplidor") Suplidor:
							select(
								required
								ng-model="record.idSuplidor"
								ng-options="suplidor.id as suplidor.nombre for suplidor in suplidores"
							)#suplidor.form-control
						.form-group
							label(for="componente") Componente:
							select(
								required
								ng-model="record.idComponente"
								ng-options="componente.id as componente.descripcion for componente in componentes"
							)#componente.form-control
					
					.form-group
						label(for="densidad") Densidad:
						input(
							required
							type="text"
							ng-model="record.densidad"
							placeholder="Introduzca la densidad del producto"
							ng-pattern="patterns.numbers")#densidad.form-control.form-control
					.form-group
						label(for="nombre") Nombre Comercial:
						input(
							required
							type="text"
							ng-model="record.nombreComercial"
							placeholder='Introduzca nombre comercial del producto')#nombre.form-control
					.button-group
						button(ng-click='back()').btn.btn-default Atrás
						button(ng-disabled="form.$invalid").btn.btn-default {{ isNew ? "Guardar" : "Actualizar" }}